---
import Layout from "../../layouts/Layout.astro";
import SocialLinks from "../../components/SocialLinks/index.astro";
import WorkExperienceSection from "../../components/WorkExperienceSection/index.astro";
import ProfileImage from "../../assets/Dante.jpg";
import { WORK_EXPERIENCE } from "../../constants";
import { ABOUT_TITLE } from "../../constants";
---

<Layout title={ABOUT_TITLE}>
  <section class="prose max-w-3xl mx-auto mt-6 px-4 sm:px-6 lg:px-8">
    <article class="flex flex-col-reverse sm:flex-row sm:justify-between sm:items-center sm:space-x-4 mb-8 sm:mb-12">
      <div class="flex-1 mt-8 sm:mt-0">
        <strong class="text-xl sm:text-2xl font-bold block">안녕하세요!</strong>
        <p class="mt-4">
          주석 없이 이해할 수 있는 코드를 작성하기 위해 노력하는 개발자,
          김서현입니다.
        </p>
        <p>
          읽기 쉬운 코드는 다음에 이 코드를 사용할 개발자에 대한 기본적인
          예의라고 생각하며, 더욱 읽기 쉽게 작성하기 위해 최선을 다하고
          있습니다.
        </p>
        <p>
          이미 엉망이던 코드도 남을 탓하기보다 다음 사람을 생각하여 환경을
          개선하고자 합니다.
        </p>
        <p>
          주로 개발자로 일하면서 겪었던 문제를 해결하는 과정을 블로그에 기록하고
          있습니다.
        </p>
      </div>
      <div class="not-prose flex flex-col items-center sm:items-start">
        <div class="w-40 h-40 sm:w-[164px] sm:h-[164px] mb-4">
          <img
            width={164}
            height={164}
            src={ProfileImage.src}
            alt="dante"
            class="w-full h-full rounded-md object-cover"
          />
        </div>
        <div class="flex justify-center w-full">
          <SocialLinks />
        </div>
      </div>
    </article>
    <article>
      <h2 class="text-xl sm:text-2xl font-bold mt-6">Work Experience</h2>
      <WorkExperienceSection experiences={WORK_EXPERIENCE} />
    </article>
  </section>
</Layout>
