---
import PostPaginationLink from "../PostPaginationLink";
import type { BlogPost } from "../../types/BlogTypes";

interface Props {
  prev: BlogPost | null;
  next: BlogPost | null;
}

const { prev, next } = Astro.props;
---

<nav class="flex flex-col sm:flex-row justify-between items-stretch mt-24 gap-4 sm:gap-0">
  <div class="w-full sm:w-[48%]">
    {prev && <PostPaginationLink post={prev} direction="prev" client:load />}
  </div>
  <div class="w-full sm:w-[48%] flex justify-end">
    {next && <PostPaginationLink post={next} direction="next" client:load />}
  </div>
</nav>
