---
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1>Hello World</h1>
</Layout>
