---

---

<header class="bg-white mb-12">
  <div
    class="container max-w-4xl mx-auto flex justify-between items-center py-4 px-8"
  >
    <h1
      class="text-2xl font-bold text-gray-800 hover:text-blue-600 transition-colors"
    >
      <a href="/" class="hover:text-blue-600 transition-colors">Dante's Blog</a>
    </h1>
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a
            href="/about"
            class="text-black hover:text-blue-600 transition-colors">About</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
