---

---

<script>
  let lastScrollY = 0;
  let translateY = 0;

  const handleScroll = () => {
    const currentScrollY = window.scrollY;
    const header = document.querySelector("header");
    const height = header?.offsetHeight ?? 0;

    const scrollDirection = currentScrollY > lastScrollY ? "down" : "up";
    const scrollDistance = Math.abs(currentScrollY - lastScrollY);

    if (scrollDirection === "down") {
      translateY = Math.max(-height, translateY - scrollDistance);
    } else {
      translateY = Math.min(0, translateY + scrollDistance);
    }

    lastScrollY = currentScrollY;

    if (header) {
      header.style.transform = `translateY(${translateY}px)`;
    }
  };

  window.addEventListener("scroll", handleScroll);
</script>
<header class="bg-white sticky top-0 z-50" style={`transform: translateY(0px);`}>
  <div
    class="container max-w-4xl mx-auto flex justify-between items-center py-4 px-8"
  >
    <h1
      class="text-2xl font-bold text-gray-800 hover:text-blue-600 transition-colors"
    >
      <a href="/" class="hover:text-blue-600 transition-colors">Dante's Blog</a>
    </h1>
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a
            href="/about"
            class="text-black hover:text-blue-600 transition-colors">About</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
