---
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
import Header from "../components/Header/index.astro";
import Footer from "../components/Footer/index.astro";
import Metatags from "../components/Metatags/index.astro";

import "../styles/tailwind.css";

type Props = {
  title?: string;
  description?: string;
};

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <Metatags title={title} description={description} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <Header />
      <main class="flex-grow mt-12">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
